html {
  font-family: $font-family-base, Avenir, Helvetica, Arial, sans-serif;
  color: $base-text-color;
  background-color: $color-background-base;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 3%;
}

.innerContainer
{
  width: 100%;
  margin: 0 auto;
  max-width: 1230px;
}




