html {
  font-family: $font-family-base, Avenir, Helvetica, Arial, sans-serif;
  color: $base-text-color;
  background-color: $color-background-base;
}

button{
  border: 0
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 0 3%;
}

.innerContainer
{
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;
}





