html {
  font-family: $font-family-base, Avenir, Helvetica, Arial, sans-serif;
  color: $base-text-color;
  background-color: $color-background-base;
}

button{
  border: 0
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 0 3%;
}

.innerContainer
{
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;
}

.base-btn
{
  display: block;
  width: 100%;
  padding: 14px 0;
  background: $base-btn-color;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
  font-family: $font-comfortaa-bold;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.025em;
  color: $color-background-base;
  transition: background 0.3s ease-in-out;

  &:hover{  
    border: 3px solid $base-btn-color;
    background: $color-background-base;
    filter: drop-shadow(0px 0px 40px rgba(86, 86, 86, 0.3));
    border-radius: 190px;
    color: $base-btn-color;
    margin: -3px;
    transition: background 0.3s ease-in-out;
  }
}
.text-accent{
  color: $active-color
}




