// FONT FAMILY
$font-family-base: 'Montserrat-Regular', sans-serif;
$font-family-bold: 'Montserrat-Bold', sans-serif;
$font-family-light: 'Montserrat-Light', sans-serif;
$font-family-medium: 'Montserrat-Medium', sans-serif;

$font-comfortaa: 'Comfortaa-Regular';
$font-comfortaa-light: 'Comfortaa-Light';
$font-comfortaa-bold: 'Comfortaa-Bold';

$font-releway-black: 'Releway-Black', sans-serif;
$font-releway: 'Releway-Regular', sans-serif;


$font-weight-thin: 100;           // Thin (Hairline)
$font-weight-extra-light: 200;    // Extra Light (Ultra Light)
$font-weight-light: 300;          // Light
$font-weight-normal: 400;         // Regular (normal)
$font-weight-medium: 500;         // Medium
$font-weight-semi-bold: 600;      // Semi Bold (Demi Bold)
$font-weight-bold: 700;           // Bold
$font-weight-extra-bold: 800;     // Extra Bold (Ultra Bold)
$font-weight-black: 900;          // Black (Heavy)

//Gastro colors
$base-text-color: #020202;
$base-btn-color: #64D370;
$color-background-base: #F5FAFF;
$background-circle-color: #26F03A;
$active-color: #00BA2D;
$error-color: #F87676;
$active-color-link: #3D9646;