//Montserrat
@font-face{
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserat/Montserrat-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face{
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserat/Montserrat-Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face{
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserat/Montserrat-Light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face{
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserat/Montserrat-Medium.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

//Comfortaa
@font-face{
  font-family: 'Comfortaa-Regular';
  src: url("../fonts/Comfortaa/Comfortaa-Regular.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face{
  font-family: 'Comfortaa-Bold';
  src: url("../fonts/Comfortaa/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Bold.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face{
  font-family: 'Comfortaa-Light';
  src: url("../fonts/Comfortaa/Comfortaa-Light.woff") format("woff"), url("../fonts/Comfortaa/Comfortaa-Light.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

//Releway
@font-face{
  font-family: 'Releway-Black';
  src: url("../fonts/Raleway/Raleway-Black.woff") format("woff"), url("../fonts/Raleway/Raleway-Black.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face{
  font-family: 'Releway-Regular';
  src: url("../fonts/Raleway/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
